header {
  display: flex;
  align-items: center;
  justify-content: left;
}

h1 {
  color: darkslategrey;
  font-weight: 700;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

h2 {
  color: darkslategray; 
  background: #a6b9a43d;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: -5px;
}

#placeholder {
  color: darkslategrey;
  padding: 15px;
  background: #a6b9a43d;
  border-radius: 5px;
}

#stockForm {
  color: black;
}

button {
  width: 190px;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin-right: 0px;
  background-color: #41337A;
  border-radius: 5px;
  border-style: none;
  box-shadow: inset 0 0 0 0 #beff54;
  transition: ease-out 0.3s;
  outline: none;
}

button:hover {
  box-shadow: inset 190px 0 0 0 #beff54;
  cursor: pointer;
  color: black;

}

input {
  padding: 15px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 5px;
  border-style: none;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #a6b9a43d;
  color: darkslategray;
  line-height: 0.6;
  border-radius: 7px;
}

.positive {
  color: #080;
}

.negative {
  color: #f00;
}

