:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #e9eee7;
  background-image: linear-gradient(to bottom right, #eaf1e7, rgb(210, 235, 207));
}